[submodule "fzpac-git"]
	path = fzpac-git
	url = https://aur.archlinux.org/fzpac-git.git
[submodule "ttf-firge"]
	path = ttf-firge
	url = https://aur.archlinux.org/ttf-firge.git
[submodule "ttf-seto"]
	path = ttf-seto
	url = https://aur.archlinux.org/ttf-seto
[submodule "yaskkserv2-bin"]
	path = yaskkserv2-bin
	url = https://aur.archlinux.org/yaskkserv2-bin
[submodule "newflasher-git"]
	path = newflasher-git
	url = https://aur.archlinux.org/newflasher-git
[submodule "nkf-git"]
	path = nkf-git
	url = https://aur.archlinux.org/nkf-git.git
